<div id="wrapper">

    <%= image_tag("HEROimage.jpg", :alt => "hero", :id => "hero") %>
    <div id="header">
        <div><%= image_tag("fitsique_mark.png", size: "50x50", :alt => "logo") %> Fitsique
            <div>HOME</div>
            <div>FEATURES</div>
            <div>GALLERY</div>
            <div>SHOP</div>
            <div>CONTACT</div>
            <div>LOGIN/REGISTER</div>
        </div>
    </div>
    <div id="welcome_about">
        <div>
            <p>ABOUT</p>
            <p>FITSIQUE</p>
                <p>Fitsique promotes a friendly environment and helps you build towards a more healthy lifestyle.</p>
                <p>We would like to help you understand the importance of strength training and simply being comfortable at the gym.</p>
                <p>Let us help you towards achieving your goals!</p>
                <button>LEARN MORE</button>
        </div>
        <div id="girl_pink"><%= image_tag("girl_weight.png", :alt => "woman_pink") %></div>
    </div>
    <div id="featured_workout">
            <div>
                <p>FEATURED</p>
                <p>WORKOUT</p>
                    <p>Take a look at one of our featured workouts!</p>
                    <button>SEE ALL WORKOUTS</button>
            </div>
            <div id=""></div>
        </div>
</div>